/* Navbar.css */
.navbar {
  background-color: #1e1e2f;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  z-index: 10;

}

.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
  background-color: #3e3e50;
  color: #ffd700;
}


