*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(202, 239, 227);
}
.login{
    display: flex;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
form{
    font-size: 20px;
    height: 300px;
    width: 300px;
    margin: 10px;
}
button{
align-items: center;
font-size: larger;
padding: 5px;
width: 90px;
margin-top: 10px;
background-color: blue;
color: white;
border: none;
outline: none;
cursor: pointer;
}
input{
    height: 25px;
    width: 80%;
    border: none;
    border: none; 
    background-color: rgb(210, 210, 215);
}