*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}
.new-release-banner{
    display: flex;
    justify-content: center;
    align-content: center;
    align-content: center;
    margin-top: 30px;
    gap: 18px;
}
.heading{
    margin-left: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}
.left-card img{
    height: 350px;
}
.middle-card img{
    height: 200px;
}
.right-card img{
    height: 350px;

}
.right-list{
    width: fit-content;
}
.right-list .spn{
    background-color: #CDF567;
    color: black;

}
.right-list .spn:hover{
    background-color: #e1efbf;
    cursor: pointer;
    transition: 0.5s;

}
.content{
    max-width: 350px;

}
.content:hover{
    cursor: pointer;
}
.content span{
    background-color: black;
    color: white;
    padding: 5px;
    position: relative;
    top: 10px;
    font-weight: bold;
}
.content span:hover{
    background-color: rgb(139, 134, 134);
    cursor: pointer;

}
.content h3:hover{
    text-decoration: underline;
}
.first-span{
    background-color: red;
}